@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #353b48;
    text-align: center;
    padding: 50px;
    margin: 0;
}

header img{
    width: 150px;
    border-radius: 50%;

}

header p{
    color: #eee;
}

header h2{
    font-weight: 600;
    text-align: center;
    color: #fff;
}

h1{
    text-align: center;
    color: #fff;
}

main{
    margin: 50px;
}

.flex{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.mystory{
    flex-basis: 600px
}

.personal{
    flex-basis: 300px
}

.first {
    font-weight: 600;
}

